@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: #171023;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient-horizontal {
  background: linear-gradient(90deg, #9955e8 0%, #7bffaf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-vertical {
  background: linear-gradient(180deg, #7dffaf 0%, #9955e8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-item {
  position: relative;
  display: table;
  padding-left: 24px;
  padding-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: currentColor;
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 16px;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8A42DB;
  transform: translateY(-50%);
}

.timeline-item:first-of-type::before{
  top: 16px;
}

.timeline-item:last-of-type::before{
  bottom: 16px;
  height: 16px;
}